<div class="offer-details">
    <h1>{{shoe.brand}} {{shoe.name}}</h1>
    <div class="info">
        <img src="{{shoe.imageUrl}}"alt="{{shoe.name}}">
        <div class="description">{{shoe.description}}
            <br>
            <br>
            <p> <strong>Buyers:</strong> {{shoe.buyers.length}}</p>
            <br>
            <p class="price">${{shoe.price}}</p>
        </div>
    </div>
    <div class="actions">
        {{#if isCreator}}
        <a href="/products/{{shoe._id}}/edit">Edit</a>
        <a href="/products/{{shoe._id}}/delete">Delete</a>
        {{else}}
        {{#if isBought}}
        <span>You bought it</span>
        {{else}}
        <a href="/products/{{shoe._id}}/buy">Buy</a>
        {{/if}}
        {{/if}}
        {{!-- {{#if isBought}}
        <span>You bought it</span>
        {{else}}
        <a href="/products/{{shoe._id}}/buy">Buy</a>
        {{/if}} --}}
    </div>
</div>