<div class="user-info">
    <div>
        <p>Email: <span>{{email}}</span></p> |
        <p>My offers: <span>[{{shoes.length}}]</span></p> |
        <p><a href="/auth/logout">Logout</a></p>
    </div>
    <div class="shoes">
        {{#each shoes}}
        <div class="shoe">
            <img src="{{imageUrl}}">
            <h3>{{brand}} {{name}} <span>${{price}}</span></h3>
        </div>
        {{/each}}
    </div>
    <p class="total-profit">Total profit: <span>${{result}}</span></p>
</div>